* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
/*    background-color: blueviolet;*/
}
.container {
    display: flex;
/*    force element line break */
    flex-wrap: wrap;
    height: 100vh;
}



main {
/*    background-color: beige;*/
}
/*
.box {
    width: 100%;
    height: 40%;
}
*/

/* ---------------------------- */
/*  REUSE CODE                  */
/* ---------------------------- */

/* ----Link---- */
a:link,
a:visited {
    text-decoration: none;
}
/* ----Button---- */

.btn:link, 
.btn:visited {
    color: #fff;
    border: 2px solid #73bef8;
    border-radius: 100px;
    padding: 4px 4px;
    font-size: 90%;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 4%;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-full {
    background-color: #73bef8;
}
.btn-full:active,
.btn-full:hover {
    background-color: #0862a8;
    border-color: #0862a8;
}

.btn-ghost {
    border-color: #0862a8;
}

.btn-ghost:active,
.btn-ghost:hover {
    background-color: #0862a8;
    border-color: #0862a8;
}

/* ---------------------------- */
/*  Slider                      */
/* ---------------------------- */
.slider {
    background-color: #46a0e6;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.nav-content {
    height: 100%;
    text-align: center;
    padding-top: 23%;
    padding-bottom: 23%;
}


.brand-title {
    width: 100%;
    font-size: 170%;
    height: auto;
/*
    margin-left: 30%;
    margin-right: 30%;
*/
    color: #fff;
    margin-bottom: 0;
}

.slogan {
    width: 100%;
    color: #b6d1e6;
    margin: 0 15%;
    font-size: 90%;
    transform: translate(-15%, 0);
}
.nav-list {
    width: 100%;
    margin: 0 auto;
}
.btn-full {
    margin-right: 6%;
}
.btn-ghost {

}

/* ---------------------------- */
/*  Content(Post)               */
/* ---------------------------- */
.content {
    width: 100%;
    height: auto;
}

.posts-list {
    width: 100%;
}

.posts-wrap {
    padding: 4% 3%;
    position: relative;
}

.post-sort {
    width: 100%;
    text-transform: uppercase;
    color: #aaa;
    font-size: 80%;
    padding: 2px;
    border-bottom: 1px solid #aaa;
    font-weight: 300;
    margin: 10px 0;
}

/* ---Avatar--- */
.post-avatar {
    position: relative;
    float: right;
    right: 7px;
    width: 50px;
    height: auto;
    border-radius: 50%;
}

/* ---Title--- */
.post-title {
    text-transform: uppercase;
    font-size: 130%;
    font-weight: bold;
}
/* ---Post meta */
.post-meta {
    color: #999;
    font-size: 70%;
    transform: translateY(-2px);
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}
.post-author {
    color: rgb(61, 146, 201);
    letter-spacing: -0.5px;
}
.post-author:focus,
.post-author:hover {
    border-bottom: 1px solid rgb(61, 146, 201);
}
/* ---Post category---- */
.category-html {
    background-color: #F25923;
}
.category-css {
    background-color: #007CC8; 
}
.category-js {
    background-color: #FB9E20;  
}
.category-reactjs {
    background-color: #61DAFB;   
}
.category-flux {
    background-color: #3EB943;
}

.category-redux {
    background-color: rgb(139, 117, 184);
}

.category-angularjs {
    background-color: #DD1B16;
}
.category-vuejs {
    background-color: #41B883;
}
.category-nodejs {
    background-color: #99BE4F;
}

.category-gulp {
    background-color: #E84C50;
}
.category-webpack {
    background-color: #1D7DD4;
}
.category-bower {
    background-color: #FECC2F;
}


.post-category {
    color: #fff;
    padding: 1.5px 7px;
    font-size: 65%;
    margin-right: 6px;
}
.post-category:focus,
.post-category:hover {
    text-decoration: underline;
}

/* ---Article---*/
article:last-child {
    margin-bottom: 0;
}
.article {
    margin: 3% 0;
    text-align: justify;
    font-size: 82%;
    line-height: 145%;
}

/* ---------------------------- */
/*  Footer                      */
/* ---------------------------- */

.footer {  
    height: 10%;
/*    background-color: aquamarine;*/
}
.link-box {
    padding: 4% 26%;
}

.footer-menu {
    display: inline-block;
    margin-left: 5%;
    margin-right: 10%;
}

.menu-item {
    color: #ccc;
    font-size: 120%;
}
fa:link,
fa:visited {
    color: #ccc;
    transition: color 0.5s ease;
}

.fa-info-circle:focus,
.fa-info-circle:hover {
    color: salmon;
}

.fa-facebook:focus,
.fa-facebook:hover {
    color: #3b5999;
}
.fa-twitter:focus,
.fa-twitter:hover {
    color: #55acee;
}

.fa-github:focus,
.fa-github:hover {
    color: black;
}